ul.token-input-list {
  border: 1px solid #ccc;
  font-size: 0.929em;
  padding: 2px !important;
  margin: 2px !important;
}
p.token-input-token {
  display: none;
}
ul.token-input-list li {
  display: inline-block;
}
ul.token-input-list input[type="text"] {
  background: none;
  display: inline;
  width: 50px;
  height: inherit;
  padding: inherit;
  border: none;
}

li.token-input-token {
  padding: 4px 25px 6px 2px;
  position: relative;
}

li.token-input-token p {
  margin-bottom: 0;
}

li.token-input-token span.token-input-delete-token::before {
  transform: rotate( 45deg);
  -webkit-transform: rotate( 45deg);
}

li.token-input-token span.token-input-delete-token::after {
  transform: rotate( 313deg);
  -webkit-transform: rotate( 313deg);
}

span.token-input-delete-token {
  position: absolute;
  top: 10px;
  right: 8px;
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}

span.token-input-delete-token::before,
span.token-input-delete-token::after {
  width: 1px;
  content: "";
  height: 10px;
  position: absolute;
  left: 5px;
  background: #3b3b3b;
}

.category-autocomplete-dropdown {
  list-style: none;
  z-index: 999;
  display: block;
  padding-left: 0;
  margin-left: 0;
  border: 1px solid #ccc;
  background: white;
}

.category-autocomplete-dropdown li {
  cursor: pointer;
}

.category-autocomplete-dropdown li:hover,
.category-autocomplete-dropdown li .token-input-selected-dropdown-item {
  background: #48a9e4;
  color: #ffffff;
}

li.category-selected {
  background: #48a9e4;
  color: #ffffff;
  cursor: default;
}
span.autocomple-highlight {
  font-weight: bold;
}
.category-autocomplete-text {
  margin-top: 13px;
  z-index: 999;
  background: white;
}
